@font-face {
    font-family: 'futura_md_btbold';
    src: url('../font/tt0144m-webfont.eot');
    src: url('../font/tt0144m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/tt0144m-webfont.woff') format('woff'),
         url('../font/tt0144m-webfont.ttf') format('truetype'),
         url('../font/tt0144m-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body { 
	height: 100%;
	background-color: #a6bfde; 
	color: #fff;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#counter {
	position: absolute;
}

#counter p, #counter #labels span {
	font-size: 7em; 
	margin: 0; 
	font-family: 'futura_md_btbold'; 
	text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	cursor: move;
        letter-spacing: -0.05em;
}

#counter p.title {
    font-size: 2em;
    margin-bottom: -0.5em;
    letter-spacing: 0;
    text-transform: uppercase;
}

#counter p #label-days {
    font-size: 0.3em;
    letter-spacing: 0;
}

#counter #labels {
	position: absolute;
}

#counter #labels span {
	font-size: 1.2em; 
	position: absolute; 
	text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}