#editor {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
}

#editor fieldset {
	float: left;
	width: 300px;
}

#editor label {
	width: 90px;
	float: left;
	display: block;
}
#editor input, #editor select {
	width: 100px;
}

#time {
	width: 4em;
}